# -*- mode: snippet -*-
# name: hugo-blog
# uuid: hugo-blog-uuid
# key: hugo-blog-key
# condition: t
# --
#+TITLE: $1
#+DATE: <`(format-time-string "%Y-%m-%d %a")`>
#+AUTHOR: EndlessPeak
#+TOC: true
#+HIDDEN: false
#+DRAFT: false
#+WEIGHT: $2
#+Description: $3

$0