# -*- mode: snippet -*-
# name: leetcode
# uuid:
# key: leetcode
# condition: t
# --
#include<iostream>
#include<cstring>
#include<vector>
#include<algorithm>
#include<unordered_map>
using namespace std;

class Solution {
public:
    $0
};
