# -*- mode: snippet -*-
# name: emacs-lisp-headers
# uuid: elisp-headers-uuid
# key: elisp-headers-key
# --

;;; `(file-name-nondirectory (buffer-file-name))` --- $0  -*- lexical-binding: t; -*-

;;; Commentary:

$1

;;; Code :

$2

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;; `(file-name-nondirectory (buffer-file-name))` ends here
